.header-cus {
  background-color: white;
  max-height: 75px;
  height: 75px; }

header .container .row .nav-item-logo {
  color: #0065ED;
  font-size: 24px;
  display: block;
  text-decoration: none;
  margin-top: 6%; }

.nav-item {
  display: block;
  text-decoration: none;
  margin-top: 10%;
  padding: 0 35px;
  color: black; }

.nav-icon {
  display: block;
  text-decoration: none;
  margin-top: 10%; }

.header-cus .container .row .col-8 .row a:link {
  color: black; }
